h1 {
  color: blue;
}
.home{
    background-color: #e5e5e5;
    height: 100vh;
}
.product-list-view {
  height: 400px;
  overflow-y: auto  ;
}
.create-btn a{
    text-decoration: none;
    color: white;
}
.pd-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.row-two p {
  font-size: 30px;
  margin-left: 110px;
  justify-self: start;
}
.table-btns {
  display: flex;
  flex-direction: row;
}
.mt-5{
    padding: 10px;
    border-bottom: 1px solid black;
}